<style>
                h1{
                    color: brown;
                }

                img{
                    width: 400px;
                }

                #thirdDiv{

                                   
                    height: 600px;
                    width: 500px;
                    background-color: coral;
                    padding: 50px;
                    border: burlywood 10px solid;
                }

                #spanId{
                    font-size: 18px;
                    margin: 50px;
                }

        </style>